.head{
    margin: 0 auto;
    text-align: center;
    color: red!important;
}
p{
    text-align: center;
    border: 2px solid red;
    padding: 20px;
    width: 400px;
    color: salmon;
    margin: auto;
    margin-top: 20px;

}
h1{
    color: blue;
}